name: Build and Deploy
on:
  push:
    branches:
      - main # If your default branch is named something else, change this

permissions:
  contents: write
  pages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - name: Build
        run: cargo build --release --target wasm32-unknown-unknown

      - name: Prepare Deployment Directory
        run: |
          mkdir -p ./deploy
          cp -a ./web/. ./deploy/
          for wasm in target/wasm32-unknown-unknown/release/*.wasm; do
            echo "------"
            name=$(basename "$wasm" .wasm)
            echo "$name"
            mkdir -p deploy/games/$name
            cp "$wasm" ./deploy/games/$name/
            cp web/template.txt ./deploy/games/$name/index.html
            echo "<script>load(\"$name.wasm\");</script></body></html>" >> ./deploy/games/$name/index.html
          done

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
